body {
	height: 100vh;
	font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.title {
	font-size: 5rem;
	font-weight: 800;
	color: #2b4162;
	padding-top: 2rem;
}

.name-input {
	/* border: 1px red solid; */
	display: flex;
	gap: 0.5em;
	padding-top: 1em;
}

input {
	border-radius: 3px;
	border: 1px solid #7aa7c7;
	font-size: 1rem;
	padding: 0.2em 0.3em;
	outline: none;
	color: #39739d;
}

input:focus {
	box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button {
	background-color: #e1ecf4;
	border-radius: 3px;
	border: 1px solid #7aa7c7;
	box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
	color: #39739d;
	cursor: pointer;
	font-size: 1rem;
	margin: 0;
	outline: none;
	padding: 0.2em 0.8em;
}

button:hover,
button:focus {
	background-color: #b3d3ea;
	color: #2c5777;
}

button:focus {
	box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active {
	background-color: #a0c7e4;
	box-shadow: none;
	color: #2c5777;
}

.messages {
	padding-top: 1em;
	color: #2b4162;
	font-size: 1.5rem;
}

.gameboard-container {
	/* border: 1px red solid; */
	display: flex;
	gap: 1em;
	padding-top: 1em;
	align-items: center;
	justify-content: space-between;
}

.gameboard {
	border: 1px #2b4162 solid;
	min-width: 30em;
	height: 30em;
	background-color: oklch(95% 0.01667 250.85);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.cell {
	border: 1px #2b4162 solid;
	background-color: oklch(95% 0.01667 250.85);
	cursor: pointer;
}

.cell.hit {
	background-color: oklch(0.645 0.246 16.439);
}

.cell.miss {
	background-color: oklch(0.985 0 0);
}

.cell.ship {
	background-color: oklch(0.707 0.022 261.325);
}
